body {
  font-size: .9em;
  margin: 50px 0 0 0;
  padding: 0;
}
header {
  position: fixed;
  text-align: center;
  top: 50%;
  left: 50%;
  height: 9em;
}
header h1 {
  font-size: 7.5em;
  height: 1em;
  line-height: 1em;
}
header > div {
  position: relative;
  bottom: 50%;
  right: 50%;
}
header > div > p > br {
  display: none;
}
#toolbox {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 98;
}
#toolbox * {
  z-index: 99;
}
#search {
  padding: 5px;
  background-color: #2c2c2c;
  background-image: -moz-linear-gradient(top, #333333, #222222);
  background-image: -ms-linear-gradient(top, #333333, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222));
  background-image: -webkit-linear-gradient(top, #333333, #222222);
  background-image: -o-linear-gradient(top, #333333, #222222);
  background-image: linear-gradient(top, #333333, #222222);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}
#search > form {
  margin-bottom: 0;
}
#search > form input[type=text] {
  font-size: 1rem;
}
#options-wrapper {
  display: none;
  padding-top: 5px;
  background-color: #eeeeee;
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
  background-image: -ms-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
  background-image: -o-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
  background-image: linear-gradient(to bottom, #f5f5f5 0%, #eeeeee 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#eeeeee', GradientType=0);
  border: 1px solid #e5e5e5;
}
#options > select,
#options button {
  margin-bottom: 5px;
  vertical-align: baseline;
}
#options > div {
  display: inline-block;
}
#loading {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 101;
  display: none;
}
#loading > span.box {
  color: #fff;
  background: #333;
  width: 48px;
  height: 20px;
  top: -10px;
  left: -24px;
  padding: 7px;
  display: block;
  text-align: center;
  position: relative;
  opacity: .8;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
@media screen and (max-width: 33.75em), screen and (max-height: 33.75em) {
  header h1 {
    font-size: 3em;
  }
  header > div > p > br {
    display: inline;
  }
  #toolbox {
    position: absolute;
    text-align: center;
  }
  #options {
    padding-right: 5px;
  }
}
@media screen and (min-width: 57em) {
  footer > div,
  #toolbox > div > *,
  #dictionary {
    width: 52.5em;
    margin-left: auto;
    margin-right: auto;
  }
  footer p,
  footer p > * {
    display: inline;
    vertical-align: top;
  }
}
.dictionary {
  margin: 1em 5.555555555555555%;
}
.dictionary div.displayName {
  font-size: 2em;
  padding: .5em 0;
}
.dictionary div.definition span.pos {
  font-weight: bold;
  font-size: 1.2em;
}
.dictionary div.definition span.phoneticText:before,
.dictionary div.definition span.phoneticText:after {
  content: "/";
}
.dictionary div.definition ul.wordForms {
  list-style-type: none;
}
.dictionary div.definition ul.wordForms li.wordForm {
  display: inline-block;
  margin-right: .5em;
}
.dictionary div.definition ul.wordForms li.wordForm span.word {
  font-weight: bold;
}
.dictionary div.definition ul.wordForms li.wordForm span.form {
  color: #888888;
  font-size: .8em;
}
.dictionary div.definition ul.wordForms li.wordForm span.form:after {
  content: ";";
}
.dictionary div.definition ul.wordForms li.wordForm:last-child {
  margin-right: 0;
}
.dictionary div.definition ul.wordForms li.wordForm:last-child span.form:after {
  content: "";
  content: none;
}
.dictionary div.definition ol.meanings li.meaning ul.examples li.example {
  color: #767676;
}
.dictionary div.definition ol.meanings li.meaning ul.synonyms {
  list-style-type: none;
  margin: 0;
}
.dictionary div.definition ol.meanings li.meaning ul.synonyms:before {
  content: "synonym: ";
  color: #888888;
  font-style: italic;
}
.dictionary div.definition ol.meanings li.meaning ul.synonyms li.synonym {
  display: inline;
}
.dictionary div.definition ol.meanings li.meaning ul.synonyms li.synonym a.synonym {
  color: #555555;
  text-decoration: underline;
  cursor: pointer;
}
.dictionary div.definition ol.meanings li.meaning ul.synonyms li.synonym:after {
  content: ", ";
}
.dictionary div.definition ol.meanings li.meaning ul.synonyms li.synonym:last-child:after {
  content: "";
  content: none;
}
.dictionary div.definition ol.meanings li.meaning ol.submeanings {
  display: none;
}
@media print {
  body {
    margin-top: 0;
  }
  #toolbox,
  #github,
  .typeahead {
    display: none;
  }
}
